/** write your styles in this sheet. **/

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  /**/
  font-family: Apercu, Futura, "Helvetica Neue", Helvetica, sans-serif;
}


/*** project overlay ***/
.project-page {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 9999999999;
  background-color: rgba(255,255,255,1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.project-page * {
  margin-left: auto;
  margin-right:auto;
}
.project-page .container {
/*  max-width: 50em;*/
}
.project-page .close {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 1rem;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  color:#9fbccc;
  cursor:pointer;
  padding:0;
  
}

.project-page .close i {
    color:#9fbccc;
    display:block;
}

.project-page .close:hover    {
    color:#d5e1e8;
}

.project-page .close:hover i {
    color:#d5e1e8;
}

/* easy class to add to <ul>s to get rid of listy stuff */
.list-reset {
  list-style: none;
  margin:0;
  padding: 0;
}

/* try to keep body from scrolling in the background */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
  position: relative;
}

header a                {text-decoration:none;
                         color:#d5e1e8;}

header a:hover          {text-decoration:none;
                         color:orange;}
