*                   {box-sizing: border-box;
                     transition: all 350ms;}


.hamburger          {height:5em;
                     width:5em;
                     background:#d5e1e8;
                     border:none;
                     border-radius:50%;
                     padding:0 0 0 0.4em;
                     color:white;
                     font-size:1em;
                     font-weight:600;
                     letter-spacing:0.4em;
                     text-align:center;
                     z-index:1;}

nav                 {margin-right:0.5rem;
                     margin-bottom:3rem;
                     display:flex;
                     justify-content: flex-end;
                     flex-direction:column;
                     align-items:flex-end;}


.hamburger:hover    {background:orange;
                     cursor:pointer;}

ul                  {list-style:none;
                     line-height:2em;}
nav ul              {text-align:right;}

.expanded {
    margin: 0;
}

@media (min-width:1024px){
    nav              {display:none;}
}

button              {outline:0;}
/*1024px